<div *ngIf="patient$ | async as patient">
	<div class="row mb-1">
		<h1 class="col-sm-10 col-md-7 col-lg-8">Patiënt dossier</h1>
		<div class="col-sm-2 col-md-5 col-lg-4">
			<button class="btn btn-warning float-right mt-sm-1 mt-md-3 mt-lg-3" (click)="addAppointment()">
				<i class="far fa-calendar-plus"></i> Voeg vervolg afspraak toe
			</button>
		</div>
	</div>
	<div class="row gutters-sm">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="row gutters-sm">
				<div class="col-sm-12 col-md-4 col-lg-4 pr-md-0 mb-sm-3">
					<div class="card h-100 mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3 col-md-12 col-lg-4 pr-0">
									<h6 class="mb-0">Naam</h6>
								</div>
								<div class="col-sm-9 col-md-12 col-lg-8 text-secondary">
									{{ patient.prefix }} {{ patient.firstName }}
									{{ patient.lastName }}
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-12 col-lg-4 pr-0">
									<h6 class="mb-0">Geslacht</h6>
								</div>
								<div class="col-sm-9 col-md-12 col-lg-8 text-secondary">
									{{ patient.gender }}
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-12 col-lg-4 pr-0">
									<h6 class="mb-0">Geboorte datum</h6>
								</div>
								<div class="col-sm-9 col-md-12 col-lg-8 text-secondary">
									{{ patient.dateofbirth | date: "dd-MM-yyyy" }}
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-12 col-lg-4 pr-0">
									<h6 class="mb-0">BSN</h6>
								</div>
								<div class="col-sm-9 col-md-12 col-lg-8 text-secondary">
									{{ patient.BSN }}
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-12 col-lg-4 pr-0">
									<h6 class="mb-0">Adres</h6>
								</div>
								<div class="col-sm-9 col-md-12 col-lg-8 text-secondary">
									{{ patient.adress }}
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-12 col-lg-4 pr-0">
									<h6 class="mb-0">Telefoon</h6>
								</div>
								<div class="col-sm-9 col-md-12 col-lg-8 text-secondary">
									{{ patient.phonenumber }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-8 mb-sm-3">
					<app-patient-episode [ICPCs]="ICPCs" [(patient$)]="patient$" [(episodes$)]="episodes$"></app-patient-episode>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<app-patient-journal [ICPCs]="ICPCs"></app-patient-journal>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="row gutters-sm">
				<div class="col-sm-12 col-md-5 col-lg-6 pr-md-0">
					<app-patient-diagnostic [diagnosticTypes]="diagnosticTypes" [(patient$)]="patient$" [(diagnostics$)]="diagnostics$"></app-patient-diagnostic>
				</div>
				<div class="col-sm-12 col-md-7 col-lg-6 mb-3">
					<app-patient-prescription [(patient$)]="patient$" [(prescriptions$)]="prescriptions$" [episodes$]="episodes$" [ICPCs]="ICPCs"></app-patient-prescription>
				</div>
			</div>
		</div>
	</div>
</div>