<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <h3 class="col-sm-6 col-md-6 col-lg-7 pr-md-0">Metingen</h3>
            <span class="col-sm-6 col-md-6 col-lg-5">
                <button class="btn btn-primary btn-sm float-right mb-md-2" (click)="addDiagnostic()">
                    <i class="fas fa-plus-circle"></i> Voeg meting toe
                </button>
            </span>
        </div>
        <div class="table-responsive" style="max-height: 250px;">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Meting</th>
                        <th scope="col">Waarde</th>
                        <th scope="col">Datum</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let diagnostic of diagnostics$ | async">
                        <td class="align-middle">{{diagnostic.name}} ({{diagnostic.unit}})</td>
                        <td class="align-middle">{{diagnostic.measurements[diagnostic.measurements.length - 1]?.valueNumber}}</td>
                        <td class="align-middle">{{diagnostic.measurements[diagnostic.measurements.length - 1]?.date | date: "dd-MM-yyyy" }}</td>
                        <td class="align-middle m-0 px-0 mb-0 mt-1">
                            <button class="btn btn-info btn-sm" style="float:center" (click)="getMeasurementHistory(diagnostic)">
                                <i class="fas fa-history"></i>
                            </button>
                        </td>
                        <td class="align-middle m-0 px-0 mb-0 mt-1">
                            <button class="btn btn-primary btn-sm" style="margin-left: 10px;" (click)="addMeasurement(diagnostic)">
                                <i class="fas fa-plus"></i>
                            </button>
                        </td>
                        <td class="align-middle m-0 px-0 mb-0 mt-1">
                            <button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="removeDiagnostic(diagnostic)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>