<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="table table-striped"
>
  <thead>
    <tr>
      <th scope="col" sortable="patientnumber">Patientnummer</th>
      <th scope="col" sortable="name">Naam</th>
      <th scope="col" sortable="dateofbirth">Geboortedatum</th>
      <th scope="col" sortable="gender">Geslacht</th>
      <th scope="col" sortable="address">Adres</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td scope="row">{{ patient.patientNumber }}</td>
      <td scope="row">
        {{ patient.prefix }}. {{ patient.firstname }} {{ patient.lastname }}
      </td>
      <td scope="row">{{ patient.dateofbirth | date: "dd-MM-yyyy" }}</td>
      <td scope="row">{{ patient.gender }}</td>
      <td scope="row">{{ patient.adress }}</td>
      <td scope="row">
        <button class="btn" routerLink="/patient/detail/{{patient._id}}">
          <i class="fa fa-info-circle"></i> Details
        </button>
      </td>
    </tr>
  </tbody>
</table>
