<div class="card h-100">
    <div class="card-body">
        <div class="row">
            <h3 class="col-sm-6 col-md-6 col-lg-8">Episodes</h3>
            <span class="col-sm-6 col-md-6 col-lg-4">
                <button class="btn btn-primary btn-sm float-right" (click)="addEpisode()">
                    <i class="fas fa-plus-circle"></i> Voeg episode toe
                </button>
            </span>
        </div>
        <div class="table-responsive mh-50">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="align-middle" scope="col">Publicatie datum</th>
                        <th class="align-middle" scope="col">Omschrijving</th>
                        <th class="align-middle" scope="col">Start datum</th>
                        <th class="align-middle" scope="col">Code</th>
                        <th class="align-middle" scope="col">Prioriteit</th>
                        <th class="align-middle" scope="col">Journaalregels</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let episode of episodes$ | async">
                        <td class="align-middle">{{episode.publicationDate | date: 'dd-MM-yyyy'}}</td>
                        <td class="align-middle" >
                            <div class="overflow-auto" style="max-width: 175px; max-height: 75px!important">
                                {{episode.description}}
                            </div>
                        </td>
                        <td class="align-middle">{{episode.startDate | date: 'dd-MM-yyyy'}}</td>
                        <td class="align-middle">{{episode.ICPC}}</td>
                        <td class="align-middle text-center" style="color: #ed1e79; font-weight: bold;">{{episode.priority ? 'P' : ' '}}</td>
                        <td class="align-middle">
                            <button class="btn btn-info btn-sm" (click)="setJournal(episode.journals, episode)">
                                <i class="fas fa-list-alt fa-sm p-0"></i> Journaalregels
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>