<div *ngIf="focusedMeeting" class="row gutters-sm mb-3">
    <div class="col-12">
        <h3>Afspraak detail</h3>
    </div>
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                        <h4 class="mb-1">{{focusedMeeting.title}}</h4>
                        <p class="text-secondary">testtest</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class=" ">Starttijd</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        {{focusedMeeting.start | date:'hh:mm, dd MMM'}} 
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class=" ">Eindtijd</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        {{focusedMeeting.end | date:'hh:mm, dd MMM'}}
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>