<div *ngIf="focusedMeeting | async as focusedMeeting" class="row gutters-sm mb-3">
    <div class="col-12 mb-1">
        <h3>{{focusedMeeting.meeting.title}}</h3>
    </div>
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h2 style="font-size: large;">Patiënt informatie</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h6>Naam</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 text-secondary">
                      <p>{{focusedMeeting.patient.prefix}}. {{focusedMeeting.patient.firstName}} {{focusedMeeting.patient.lastName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h6>Geslacht</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 text-secondary">
                        <p>{{focusedMeeting.patient.gender}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h6>Geboorte datum</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 text-secondary">
                        <p>{{focusedMeeting.patient.dateofbirth | date: 'dd-MM-yyyy'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h6>Adress</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 text-secondary">
                        <p>{{focusedMeeting.patient.adress}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <button class="btn btn-primary btn-sm" routerLink="/patient/detail/{{focusedMeeting.patient._id}}">
                            <i class="fa fa-info-circle fa-sm"></i> Patiëntendossier
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <h2 style="font-size: large;">Afspraak informatie</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h6>Datum</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 text-secondary">
                       <p>{{focusedMeeting.meeting.end | date: 'dd MMMM'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h6>Tijd</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 text-secondary">
                        <p>{{focusedMeeting.meeting.start | date:'HH:mm'}} - {{focusedMeeting.meeting.end | date: 'HH:mm'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h6>Omschrijving</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-secondary">
                        <p>{{focusedMeeting.description}}</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-lg-6 px-2 mb-sm-1 text-lg-right">
                        <button class="btn btn-info btn-sm" (click)="editAppointment(focusedMeeting)">
                            <i class="far fa-edit"></i> Wijzig
                          </button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 px-2 text-lg-left">
                        <button class="btn btn-danger btn-sm" (click)="deleteAppointment(focusedMeeting)">
                            <i class="far fa-calendar-times"></i> Annuleer
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>