a, a:hover {
  text-decoration: none !important;
}
footer {
  margin-top: 1rem;
}
.footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.footer-site-logo a {
  color: #004a91;
}
.footer-site-logo a:hover{
  color: #003E79
}
.nav-links {
  padding: 0;
  margin: 0;
}
.nav-link.active{
  font-weight: 500;
}
.nav-links li {
  display: inline-block;
}
.nav-links li a {
  padding: 10px;
  color: #000;
}
.nav-link:hover {
  color: #004a91!important;
  font-weight: 500;
}
.copyright {
  color: #969696;
}
