<div *ngIf="(loggedInUser$ | async) as user">
    <h1>Welkom {{user.firstName}}</h1>
    <div class="row gutters-sm">
        <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="../../../assets/image/undraw_hello_re_3evm.svg" alt="" width=100%>
                        <div class="mt-3 mb-2">
                            <h4 class="mb-0">{{user.firstName}} {{user.lastName}}</h4>
                            <p class="text-secondary mb-2">{{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Afspraken van vandaag, {{getDatetime | date:'dd MMMM'}}</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Tijd</th>
                                    <th scope="col">Patient</th>
                                    <th scope="col">Klachten</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let appointment of appointments$ | async">
                                    <td class="align-middle">{{appointment.meeting.start | date:'shortTime'}}</td>
                                    <td class="align-middle">{{appointment.patient.prefix}} {{appointment.patient.firstName}} {{appointment.patient.lastName}}</td>
                                    <td class="align-middle">{{appointment.meeting.title}}</td>
                                    <td class="align-middle">
                                        <button class="btn btn-primary btn-sm" (click)="goToAppointment()">
                                            <i class="fa fa-info-circle fa-sm"></i> Details
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>