<div class="container login-container">
	<div class="p-3 px-md-5 py-md-4">
	<div class="row justify-content-center align-items-center">
			<div class="col-sm-12 col-md-7 col-lg-7">
				<img src="../../../../assets/image/undraw_doctors_hwty.svg" alt="" width=100%>
			</div>
			<div class="col-sm-12 col-md-5 col-lg-5 align-middle">
				<h2>Inloggen</h2>
				<p>Hier kan nog informatie staan...</p>
				<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email address" formControlName="email"
							id="inputEmail" aria-describedby="emailHelp"
							[ngClass]="{'is-invalid':loginForm.get('email').invalid && loginForm.get('email').touched}" />
						<span *ngIf="
							!loginForm.get('email').valid && loginForm.get('email').touched
							" class="invalid-feedback">
							<p id="email-invalid">Geef een correct emailadres.</p>
						</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" formControlName="password"
							id="inputPassword" [ngClass]="{
								'is-invalid':
								loginForm.get('password').invalid &&
								loginForm.get('password').touched}" />
						<span *ngIf="
							!loginForm.get('password').valid &&
							loginForm.get('password').touched" class="invalid-feedback">
							<p id="password-invalid">Geef een correct wachtwoord.</p>
						</span>
					</div>

					<div class="form-group">
						<button id="submitbutton" class="btn btn-primary btn-block py-2" type="submit"
							[disabled]="!loginForm.valid && !submitted">
							Log In
						</button>
					</div>

					<div class="form-group">
						<app-alert></app-alert>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>